[data-cellid="grid_c7"][data-page="jaz_art_view"][data-cellid="grid_c7"][data-page="jaz_art_view"][data-cellid="grid_c7"][data-page="jaz_art_view"] {
  font-weight: bold;
}
[data-cellid="grid_c9"][data-page="jaz_art_view"][data-cellid="grid_c9"][data-page="jaz_art_view"][data-cellid="grid_c9"][data-page="jaz_art_view"] {
  font-weight: bold;
  padding-bottom: 40px;
}
[data-page="jaz_art_view"][data-itemid="snippet"] {
  background-color: #c66969;
  color: #ffffff;
}
[data-page="jaz_art_view"][data-itemid="snippet1"] {
  background-color: #8e8282;
  color: #ffffff;
}
[data-page="jaz_art_view"][data-itemid="image"] {
  width: 150px;
  height: 100px;
}
[data-page="jaz_art_view"][data-itemid="image1"] {
  width: 150px;
  height: 100px;
}
[data-page="jaz_art_view"][data-itemid="text"] {
  font-weight: bold;
}
[data-page="jaz_art_view"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}

/* Put  your custom CSS code here */

[data-page="jaz_art_view"][data-itemid="custom_button"] {
  border-radius: 15px;
}

/* Put  your custom CSS code here */

[data-page="jaz_art_view"][data-itemid="custom_button1"] {
  border-radius: 15px;
}

 /* Style for the popup */
    .popup {
      display: none;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 20px;
      background-color: #fff;
      border: 1px solid #ccc;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      z-index: 1000;
      width: 1000px; /* Adjust the width as needed */
      height: 1000px; /* Adjust the height as needed */
    }

    /* Style for the dismiss button */
    .dismiss-btn {
      background-color: #007bff;
      color: #fff;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
    }

    /* Style for the iframe */
    .popup iframe {
      width: 100%;
      height: 100%;
      border: none;
    }