<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-view" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="full"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c}
<td
	{$cell_grid_c}
	class="r-align-center r-ori-vert"
	
			data-single
				data-fullwidth
		
			data-cellId="grid_c" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				<img src="{$file_url images/BBC_News-Logo.wine.png}" data-itemtype="image" data-itemid="image" {$item_image} data-pageid="{$pageid}" data-page="bbc_art_view" />
	
								</td>
			{END cellblock_grid_c}
								</tr>
	 
	 
														<tr {$row_grid_1} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN title_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_title}  r-vertical-field" data-fieldname="title" data-signal-error-for="title{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="title" data-fieldname="title" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_title}">
		
		{BEGIN title_label}{$label dbo_bbc_art title }{END title_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$title_value}	</div>

		
</div>


{END title_fieldblock}
											
{BEGIN description_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_description}  r-vertical-field" data-fieldname="description" data-signal-error-for="description{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="description" data-fieldname="description" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_description}">
		
		{BEGIN description_label}{$label dbo_bbc_art description }{END description_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$description_value}	</div>

		
</div>


{END description_fieldblock}
											
{BEGIN body_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_body}  r-vertical-field" data-fieldname="body" data-signal-error-for="body{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="body" data-fieldname="body" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_body}">
		
		{BEGIN body_label}{$label dbo_bbc_art body }{END body_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$body_value}	</div>

		
</div>


{END body_fieldblock}
											
{BEGIN keywords_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_keywords}  r-vertical-field" data-fieldname="keywords" data-signal-error-for="keywords{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="keywords" data-fieldname="keywords" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_keywords}">
		
		{BEGIN keywords_label}{$label dbo_bbc_art keywords }{END keywords_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$keywords_value}	</div>

		
</div>


{END keywords_fieldblock}
											
{BEGIN author_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_author}  r-vertical-field" data-fieldname="author" data-signal-error-for="author{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="author" data-fieldname="author" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_author}">
		
		{BEGIN author_label}{$label dbo_bbc_art author }{END author_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$author_value}	</div>

		
</div>


{END author_fieldblock}
											
{BEGIN publishedTime_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_publishedTime}  r-vertical-field" data-fieldname="publishedTime" data-signal-error-for="publishedTime{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="publishedTime" data-fieldname="publishedTime" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_publishedTime}">
		
		{BEGIN publishedTime_label}{$label dbo_bbc_art publishedTime }{END publishedTime_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$publishedTime_value}	</div>

		
</div>


{END publishedTime_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
