<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-print" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="full"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	
">
		 
		{BEGIN pdflink_block}
<span data-itemtype="print_pdf" data-itemid="print_pdf" {$item_print_pdf} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	pdflink" data-pdfpage="print" 
data-scope="0" 
data-split="0" 
data-records="10" 
data-orientation="portrait" 
data-scale="100" 
data-filename="Jaz Art.pdf" 
data-pagesize="LETTER" 
data-pagetype="print" 
{$pdflink_attrs} >
							PDF View			</a>
</span>
{END pdflink_block}
		</div>					</div>
			 
				<div class="row">
			 
				<div 
	data-cellId="top_c2" data-pageid="{$pageid}"	{$cell_top_c2}
	class=" r-ori-vert			col-md-12
	
">
		 
		<h2 data-itemtype="print_header" data-itemid="print_header" {$item_print_header} data-pageid="{$pageid}" >{$pagetitlelabel dbo_jaz_art print}</h2>
	 
		{BEGIN printtabheader}
<span data-itemtype="print_subheader" data-itemid="print_subheader" {$item_print_subheader} data-pageid="{$pageid}" >
{$printtabheader_text}
</span>
{END printtabheader}
		</div>					</div>
			 
				<div class="row">
			 
				<div 
	data-cellId="top_c4" data-pageid="{$pageid}"	{$cell_top_c4}
	class=" r-ori-vert			col-md-12
	
">
		 
		{BEGIN mastertable_block}
<div data-itemtype="master_info" data-itemid="master_info" {$item_master_info} data-pageid="{$pageid}">
	{$showmasterfile}
</div>
{END mastertable_block}		</div>					</div>
			</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class="			col-md-12
	
">
		{BEGIN firstAboveGridCell}
		 
		<span data-itemtype="print_pages" data-itemid="print_pages" {$item_print_pages} data-pageid="{$pageid}" data-small >
	{$print_pages_labelprint_pages}
</span>	 
		{BEGIN inline_cancel}
<span data-itemtype="grid_inline_cancel" data-itemid="grid_inline_cancel" {$item_grid_inline_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Cancel" class="btn-link   
	 glyphicon glyphicon-remove" {$inlinerevertlink_attrs} title="Cancel" >		
				
								</a>
</span>
{END inline_cancel}
	 
		{BEGIN inlineadd_link}
<span data-itemtype="inline_add" data-itemid="inline_add" {$item_inline_add} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$inlineaddlink_attrs} >
							Inline Add			</a>
</span>
{END inlineadd_link}
			{END firstAboveGridCell}	
	</div>					</div>
			</div>		
{END above-grid_block}
									
{BEGIN grid_block}
{BEGIN message_block}
<div data-grid-message data-pageid="{$pageid}" class="alert {$message_class}" role="alert" {$grid_message_attrs}>{$message}</div>
{END message_block}<div data-vcolumns=3 class="r-fluid r-grid-vertical bs-grid-vertical" data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" >
{BEGIN grid_row}
	{BEGIN grid_record}
	{BEGIN grid_vrecord}
	<div class="r-record-body {$rowclass}" {$rowattrs} {$rowstyle} data-record-id="{$recId}">
		<div class="panel panel-default" {$recordattrs}>
											{BEGIN grid_recordheader}
			<div class="panel-heading">
					
	
				<table data-width="1" class="header-table">
				 
										<tr>
						 
							<td 
	class=" r-ori-vert			"
			 
	data-cellId="grid_cell_top" data-pageid="{$pageid}" data-record-id="{$recId}">
</td>
											</tr>
									 
									 
									 
									 
													</table>

					</div>
		{END grid_recordheader}
									
			<div class="panel-body">					
					
	
				<table data-width="1" >
				 
									 
										<tr>
						 
							<td 
	class="r-align-center r-ori-vert				{$title_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field" data-pageid="{$pageid}" data-record-id="{$recId}">
 
{BEGIN title_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field1" {$item_simple_grid_field1} data-pageid="{$pageid}" data-page="jaz_art_print" data-record-id="{$recId}" data-field="title" data-fieldname="title" data-default-width >
{$title_value}
</span>
{END title_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-center r-ori-vert				{$image_url_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label1" data-pageid="{$pageid}" data-record-id="{$recId}">
 
{BEGIN image_url_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field9" {$item_simple_grid_field9} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="image_url" data-fieldname="image_url" data-default-width >
{$image_url_value}
</span>
{END image_url_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-center r-ori-vert				{$description_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label9" data-pageid="{$pageid}" data-record-id="{$recId}">
 
{BEGIN description_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field2" {$item_simple_grid_field2} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="description" data-fieldname="description" data-default-width >
{$description_value}
</span>
{END description_fieldcolumn}</td>
											</tr>
									 
													</table>

				
			</div>				
									
		</div>
</div>
		

 
		 
{BEGIN details_may_art}
{$displayDetailTable_may_art}
{END details_may_art}
 
{BEGIN details_bbc_art}
{$displayDetailTable_bbc_art}
{END details_bbc_art}
	{END grid_vrecord}
	{END grid_record}
{END grid_row}
</div>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class=" r-ori-vert			col-md-12
	
">
			</div>					</div>
			</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
